apiVersion: apps/v1
kind: Deployment
metadata:
  name: krakend
  namespace: engine-platform
spec:
  template:
    spec:
      containers:
        - name: krakend
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
