apiVersion: apps/v1
kind: Deployment
metadata:
  name: krakend
  namespace: es1-platform
spec:
  template:
    spec:
      containers:
        - name: krakend
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
