apiVersion: apps/v1
kind: Deployment
metadata:
  name: krakend
  namespace: engine-platform
spec:
  template:
    spec:
      containers:
        - name: krakend
          imagePullPolicy: Never
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
